.navbar {
	display: inline-block;
	float: left;
	margin-top: 1.5%;
}

#mainlogo {
	float: left;
}

#navb {
	background: rgb(47, 5, 90);
	overflow: visible;
	height: 65px;
	width: 12%;
	/* padding: 0px; */
	margin: 0px;
	border: 1px solid black;
	float: left;
	margin-top: 17px;
}

body {
	margin: 0px;
	padding: 0px;
}