#banner {
	margin-top: 3%;
}

.navbar {
	display: inline-block;
	float: left;
	margin-top: 3%;
	background: rgb(47, 5, 90);
	border-radius: 0px 5px 5px 0px;
}

.navbar-inverse .navbar-inner, .container  {
	background: rgb(47, 5, 90);
}

#mainlogo {
	float: left;
}

#navb {
	background: rgb(47, 5, 90);
	overflow: visible;
	height: 65px;
	width: 12%;
	/* padding: 0px; */
	margin: 0px;
	border-radius: 0px 5px 5px 0px;
	float: left;
	margin-top: 3%;
}

body {
	margin: 0px;
	padding: 0px;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
color: #fff;
background-color: #FF2200;
}

.ui-link {
	color: white;
}

.nav li {
	margin-left: 1em;
	margin-right: 1em;
}