body {
    background: url("Old-data/splash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

p {
    font-size: 2em; 
    display: inline;
}

.navbar {
	display: inline-block;
	float: left;
	margin-top: 3%;
	background: #222;
    border: none;
}

a:link {
    color: white;
    font-family: serif;
}

.navbar img{
    max-width: 4em;
}