#Players {
	text-shadow: none;
}

#all-profiles {
	z-index: 1000;
	padding-top: 4%;
	clear: both;
}

#col1, #col2, #col3 {

}

#col1{
	margin-left: 13%;
}

#kv2, #pv16 {
	float: left;
	margin-right: 1em;
}

.data {
	color: #FF2200;
}

.category {
	color: gray;
}