#Players {
	text-shadow: none;
}

#all-profiles {
	z-index: 1000;
	padding-top: 4%;
	clear: both;
}

#col1, #col2, #col3 {
	float: left;
	width: 22%;
}

#col1, #col2, #col3{
	margin-left: 10%;
}

#kv2, #pm16, #ss23 {
	float: left;
	margin-right: 1em;
}

#p2, #p16, #p23 {
	margin-bottom: 3em;
}

.data {
	color: #FF2200;
}

.category {
	color: gray;
}