#Players {
	text-shadow: none;
}

#all-profiles {
	z-index: 1000;
	padding-top: 3%;
	clear: both;
	margin-left: 5%;
}

#all-profiles img {
	width: 100px;
	height: 110px;
	float: left;
	margin-right: 1em;
}

#col1, #col2, #col3 {
	float: left;
	width: 22%;
	margin-left: 8%;
}

#p2, #p16, #p23, #p11 {
	margin-bottom: 2.5em;
}

.data {
	color: #FF2200;
}

.category {
	color: rgb(204, 192, 192);
}